* {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.main {
  padding: 30px 100px;
}

.main-picture img{
  width: 1200px;
  float: center;
}


.title h1{
  color: red;
}


.casting-item {
  float: left;
  margin-right: 45px;
}

.casting-item img{
  width: 180px;
}

.date {
  width: 1200px;
  float: center;
}
