* {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: skyblue;
}

.main {
  padding: 30px 0;
}

.casting-item{
  width: 0px;
}
